version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: dijital-menu-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: .
    container_name: dijital-menu-backend
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/dijitalmenu
    ports:
      - "5001:5000"
    depends_on:
      - mongo

volumes:
  mongo_data:


